xsd/Consultas/consultaClaseAfiliadoNegocioRequest.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="ConsultaClaseAfiliadoRequest">
		<xsd:sequence>
			<xsd:element name="idClaf" type="xsd:string" minOccurs="0" nillable="true"/>
			<xsd:element name="valorSalario" type="xsd:string" minOccurs="0" nillable="true"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="consultaClaseAfiliadoRequest" type="ConsultaClaseAfiliadoRequest" />
</xsd:schema>