xsd/Consultas/consultaEmpresaPorLoginRequest.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="ConsultaEmpresaPorLoginRequest">
		<xsd:sequence>
			<xsd:element name="loginUsuario" type="xsd:string" nillable="true" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="consultaEmpresaPorLoginRequest" type="ConsultaEmpresaPorLoginRequest" />
</xsd:schema>