xsd/Afiliacion/consultaInformacionAfiliadoRequest.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="ConsultarAfiliadoSirap">
		<xsd:sequence>
			<xsd:element name="tipoDocumento" type="xsd:string" />
			<xsd:element name="numeroDocumento" type="xsd:string" />
			<xsd:element name="tipoDocumentoEmpresa" type="xsd:string" />
			<xsd:element name="numeroDocumentoEmpresa" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="consultarAfiliadoSirap" type="ConsultarAfiliadoSirap" />
	
</xsd:schema>