xsd/Afiliacion/consultaEmpresaRequest.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="ConsultaEmpresa">
		<xsd:sequence>
			<xsd:element name="tipoDocumento" type="xsd:string" />
			<xsd:element name="numeroDocumento" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="informacionEmpresaRequest" type="ConsultaEmpresa"/>
</xsd:schema>