xsd/Afiliacion/consultaInformacionAfiliadoResponse.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:NS1="http://ws.esb.comfenalcovalle.com.co/">

	<xsd:complexType name="ConsultarInformacionAfiliado">
		<xsd:sequence>
			<xsd:element name="tipoDocumentoAfiliado" type="TipoInformacionConsultaAfiliado" nillable="true" minOccurs="0"/>
			<xsd:element name="numeroDocumentoAfiliado" type="xsd:string" nillable="true" minOccurs="0"/>
			<xsd:element name="calidadAfiliado" type="TipoInformacionConsultaAfiliado" nillable="true"  minOccurs="0"/>
			<xsd:element name="activo" type="xsd:string" nillable="true" minOccurs="0"/>
			<xsd:element name="idPers" type="xsd:string" nillable="true" minOccurs="0"/>
			<xsd:element name="numeroTarjeta" type="xsd:string" nillable="true" minOccurs="0"/>
			<xsd:element name="primerApellidoAfiliado" type="xsd:string" nillable="true" minOccurs="0"/>
			<xsd:element name="segundoApellidoAfiliado" type="xsd:string" nillable="true" minOccurs="0"/>
			<xsd:element name="primerNombreAfiliado" type="xsd:string" nillable="true" minOccurs="0"/>
			<xsd:element name="segundoNombreAfiliado" type="xsd:string" nillable="true" minOccurs="0"/>
			<xsd:element name="sexoAfiliado" type="xsd:string" nillable="true" minOccurs="0"/>
			<xsd:element name="fechaNacimientoAfiliado" type="xsd:date" nillable="true" minOccurs="0"/>
			<xsd:element name="estadoCivilAfiliado" type="TipoInformacionConsultaAfiliado" nillable="true" minOccurs="0"/>
			<xsd:element name="fechaExpedicionCedulaAfiliado" type="xsd:date" nillable="true" minOccurs="0"/>
			<xsd:element name="idMunicipioExpedicionCedulaAfiliado" type="TipoInformacionConsultaAfiliado" nillable="true" minOccurs="0"/>
			<xsd:element name="codigoNacionalidadAfiliado" type="TipoInformacionConsultaAfiliado" nillable="true" minOccurs="0"/>
			<xsd:element name="departamentoExpedicionCedulaAfiliado" type="TipoInformacionConsultaAfiliado" nillable="true" minOccurs="0"/>
			<xsd:element name="madreCabezaDeHogarAfiliado" type="xsd:string" nillable="true" minOccurs="0"/>
			<xsd:element name="nivelEscolaridadAfiliado" type="TipoInformacionConsultaAfiliado" nillable="true" minOccurs="0"/>
			<xsd:element name="gradoEscolaridadAfiliado" type="TipoInformacionConsultaAfiliado" nillable="true" minOccurs="0"/>
			<xsd:element name="profesionAfiliado" type="TipoInformacionConsultaAfiliado" nillable="true" minOccurs="0"/>
			<xsd:element name="idTipoDiscapacidadAfiliado" type="xsd:string" nillable="true" minOccurs="0"/>
			<xsd:element name="descripcionTipoDiscapacidadAfiliado" type="xsd:string" nillable="true"/>
			<xsd:element name="porcentajeGradoDiscapacidadAfiliado"	type="xsd:string" nillable="true" minOccurs="0"/>
			<xsd:element name="direccionResidenciaAfiliado" type="xsd:string" nillable="true" minOccurs="0"/>
			<xsd:element name="barrioResidenciaAfiliado" type="TipoInformacionConsultaAfiliado" nillable="true" minOccurs="0"/>
			<xsd:element name="municipioResidenciaAfiliado" type="TipoInformacionConsultaAfiliado" nillable="true" minOccurs="0"/>
			<xsd:element name="departamentoResidenciaAfiliado" type="TipoInformacionConsultaAfiliado" nillable="true" minOccurs="0"/>
			<xsd:element name="tipoViviendaAfiliado" type="TipoInformacionConsultaAfiliado" nillable="true" minOccurs="0"/>
			<xsd:element name="estratoViviendaAfiliado" type="TipoInformacionConsultaAfiliado" nillable="true" minOccurs="0"/>
			<xsd:element name="telefonoAfiliado" type="xsd:string" nillable="true" minOccurs="0"/>
			<xsd:element name="celularAfiliado" type="xsd:string" nillable="true" minOccurs="0"/>
			<xsd:element name="correoElectronicoAfiliado" type="xsd:string" nillable="true" minOccurs="0"/>
			<xsd:element name="categoriaCajaAfiliado" type="TipoInformacionConsultaAfiliado" nillable="true" minOccurs="0"/>
			<xsd:element name="informacionLaboralAfiliado" type="InformacionesLaboralesAfiliado" nillable="true" minOccurs="0"/>
			<xsd:element name="cotizantes" type="ConsultaCotizantesAfiliacion" nillable="true" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	

	<xsd:complexType name="TipoInformacionConsultaAfiliado">
		<xsd:sequence>
			<xsd:element name="id" type="xsd:string" nillable="true" minOccurs="0"/>
			<xsd:element name="descripcion" type="xsd:string" nillable="true" minOccurs="0"/>
			<xsd:element name="codigo" type="xsd:string" nillable="true" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="InformacionLaboralAfiliado">
		<xsd:sequence>
			<xsd:element name="tipoAfiliado" type="TipoInformacionConsultaAfiliado" nillable="true" minOccurs="0"/>
			<xsd:element name="claseAfiliado" type="TipoInformacionConsultaAfiliado" nillable="true" minOccurs="0"/>
			<xsd:element name="direccionLaboraAfiliado" type="xsd:string" nillable="true" minOccurs="0"/>
			<xsd:element name="barrioLaboraAfiliado" type="TipoInformacionConsultaAfiliado" nillable="true" minOccurs="0"/>
			<xsd:element name="municipioLaboraAfiliado" type="TipoInformacionConsultaAfiliado" nillable="true" minOccurs="0"/>
			<xsd:element name="departamentoLaboraAfiliado" type="TipoInformacionConsultaAfiliado" nillable="true" minOccurs="0"/>
			<xsd:element name="tipoIdentificacionEmpresaAfiliado" type="TipoInformacionConsultaAfiliado" nillable="true" minOccurs="0"/>
			<xsd:element name="numeroIdentificacionEmpresaAfiliado" type="xsd:string" nillable="true" minOccurs="0"/>
			<xsd:element name="digitoVerificacionEmpresaAfiliado" type="xsd:string" nillable="true" minOccurs="0"/>
			<xsd:element name="razonSocialEmpresaAfiliado" type="xsd:string" nillable="true" minOccurs="0"/>
			<xsd:element name="sucursalEmpresaAfiliado" type="TipoInformacionConsultaAfiliado" nillable="true" minOccurs="0"/>
			<xsd:element name="divisionAdministrativaEmpresaTrabajador" type="TipoInformacionConsultaAfiliado" nillable="true" minOccurs="0"/>
			<xsd:element name="codigoNominaAfiliado" type="xsd:string" nillable="true" minOccurs="0"/>
			<xsd:element name="fechaIngresoEmpresaAfiliado" type="xsd:string" nillable="true" minOccurs="0"/>
			<xsd:element name="contratoAfiliado" type="TipoInformacionConsultaAfiliado" nillable="true" minOccurs="0"/>
			<xsd:element name="cargoAfiliado" type="TipoInformacionConsultaAfiliado" nillable="true" minOccurs="0"/>
			<xsd:element name="horasMensualesJornadaAfiliado" type="xsd:string" nillable="true" minOccurs="0"/>
			<xsd:element name="tipoSalarioAfiliado" type="TipoInformacionConsultaAfiliado" nillable="true" minOccurs="0"/>
			<xsd:element name="valorSalarioBasicoAfiliado" type="xsd:string" nillable="true" minOccurs="0"/>
			<xsd:element name="valorComisionBonificacionAfiliado" type="xsd:string" nillable="true" minOccurs="0"/>
			<xsd:element name="vinculacionLaborAfiliado" type="TipoInformacionConsultaAfiliado" nillable="true" minOccurs="0"/>
			<xsd:element name="porcentajeAportesAfiliado" type="TipoInformacionConsultaAfiliado" nillable="true" minOccurs="0"/>
			<xsd:element name="formaDePagoSubsidioAfiliado" type="TipoInformacionConsultaAfiliado" nillable="true" minOccurs="0"/>
			<xsd:element name="codigoBancoAfiliado" type="xsd:string" nillable="true" minOccurs="0"/>
			<xsd:element name="numeroCuentaBancoAfiliado" type="xsd:string" nillable="true" minOccurs="0"/>
			<xsd:element name="tipoCuentaBancoAfiliado" type="TipoInformacionConsultaAfiliado" nillable="true" minOccurs="0"/>
			<xsd:element name="anexoCertificadoCuentaBancoAfiliado"
				type="ConsultarAnexoAfiliado" nillable="true" minOccurs="0"/>
			<xsd:element name="sectorEmpresaAfiliado" type="TipoInformacionConsultaAfiliado" nillable="true" minOccurs="0"/>
			<xsd:element name="estadoAfiliacionAfiliado" type="xsd:string" nillable="true" minOccurs="0"/>
			<xsd:element name="fechaRetiroAfiliado" type="xsd:string" nillable="true" minOccurs="0"/>
			<xsd:element name="otroEmpleador" type="ConsultarOtroEmpleadorAfiliacion" nillable="true" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="InformacionesLaboralesAfiliado">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0"
				name="infoLaboral" type="InformacionLaboralAfiliado" nillable="true"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ConsultaCotizanteAfiliacion">
		<xsd:sequence>
			<xsd:element name="tipoIdentificacion" type="xsd:string" nillable="true" minOccurs="0" />
			<xsd:element name="numeroIdentificacion" type="xsd:string" nillable="true" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConsultaCotizantesAfiliacion">
		<xsd:sequence>
			<xsd:element name="cotizante" type="ConsultaCotizanteAfiliacion"
				minOccurs="0" maxOccurs="unbounded" nillable="true"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ConsultarAnexoAfiliado">
		<xsd:sequence>
			<xsd:element name="idAgrupador" type="xsd:string"  nillable="true"  minOccurs="0"/>
			<xsd:element name="referencia1" type="xsd:string" nillable="true"  minOccurs="0" />
			<xsd:element name="referencia2" type="xsd:string" nillable="true"  minOccurs="0" />
			<xsd:element name="idTipoImagen" type="xsd:string" nillable="true"   minOccurs="0"/>
			<xsd:element name="login" type="xsd:string"  nillable="true" minOccurs="0"/>
			<xsd:element name="archivo" type="xsd:base64Binary"  minOccurs="0" nillable="true" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ConsultarOtroEmpleadorAfiliacion">
		<xsd:sequence>
			<xsd:element name="tipoDocumentoOtroEmpleador" type="xsd:string" nillable="true" minOccurs="0"/>
			<xsd:element name="numeroIdentificacionOtroEmpleador" minOccurs="0"
				type="xsd:string" nillable="true"/>
			<xsd:element name="digitoVerificacionOtroEmpleador" type="xsd:string" nillable="true" minOccurs="0"/>
			<xsd:element name="razonSocialEmpresaOtroEmpleador" type="xsd:string" nillable="true" minOccurs="0"/>
			<xsd:element name="horasJornadaMensualesOtroEmpleador" minOccurs="0"
				type="xsd:string" nillable="true"/>
			<xsd:element name="sectorEmpresaOtroEmpleador" type="xsd:string" nillable="true" minOccurs="0"/>
			<xsd:element name="tipoSalarioOtroEmpleador" type="xsd:string" nillable="true" minOccurs="0"/>
			<xsd:element name="valorSalarioOtroEmpleador" type="xsd:string" nillable="true" minOccurs="0"/>
			<xsd:element name="valorComisionBonificacionOtroEmpleador" minOccurs="0"
				type="xsd:string" nillable="true"/>
			<xsd:element name="codigoCargoOtroEmpleador" type="xsd:string" nillable="true" minOccurs="0"/>
			<xsd:element name="nombreCajaCompensacionOtroEmpleador" minOccurs="0"
				type="xsd:string" nillable="true"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="mensajeExepcionConsultaAfiliacion">
		<xsd:sequence>
					<xsd:element name="tipoError" type="xsd:string" nillable="true" minOccurs="0"/>
					<xsd:element name="codigoError" type="xsd:string" nillable="true" minOccurs="0"/>
					<xsd:element name="descripcionError" type="xsd:string" nillable="true" minOccurs="0"/>
					<xsd:element name="solucionError" type="xsd:string" nillable="true" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="InformacionAfiliadoResponse">
		<xsd:sequence>
			<xsd:element name="consultaAfiliadoSirap" type="ConsultarInformacionAfiliado" />
			<xsd:element name="mensajeExepcion" type="mensajeExepcionConsultaAfiliacion" nillable="true" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>


	<xsd:element name="informacionAfiliadoResponse" type="InformacionAfiliadoResponse" />
</xsd:schema>