xsd/Afiliacion/validaUsuarioInHouseRequest.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="validarUsuarioInhouseRequest" type="ValidarUsuarioInhouseRequest" />
	<xsd:complexType name="ValidarUsuarioInhouseRequest">
		<xsd:sequence>
			<xsd:element name="tipoDocumento" type="xsd:string" />
			<xsd:element name="numeroIdentificacion" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>