xsd/Afiliacion/wsActualizaHabeasDataClienteC4CResponse.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="actualizaHabeasDataResponse" type="ActualizaHabeasDataResponse" />

	<xsd:complexType name="ActualizaHabeasDataResponse">
		<xsd:sequence>
			<xsd:element name="actualiza" type="xsd:string" nillable="true" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>